header {
    width:100%;
    text-align: center;
}

button {
    border-radius: 3px;
    font-size: 22px;
    border:none;
}
.searchFormInput {
    width:300px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 22px;
    border:none;
}

